    body {
      font-family: Arial, sans-serif;
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
    }
    h1 {
      text-align: center;
    }
    h2 {
      margin-bottom: 0;
    }
    .section {
      margin-bottom: 20px;
    }
    .section h2 {
      font-size: 18px;
    }
    .section p {
      margin: 5px 0;
    }

    /* Estilos para telas menores */
    @media only screen and (max-width: 767px) {
      body {
        padding: 10px;
      }
      h1 {
        font-size: 24px;
      }
      h2 {
        font-size: 16px;
      }
      .section p {
        font-size: 14px;
      }
    }

    /* Estilos para tablets */
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      body {
        padding: 30px;
      }
      h1 {
        font-size: 32px;
      }
      h2 {
        font-size: 22px;
      }
      .section p {
        font-size: 16px;
      }
    }

    /* Estilos para desktops */
    @media only screen and (min-width: 1024px) {
      body {
        padding: 50px;
      }
      h1 {
        font-size: 48px;
      }
      h2 {
        font-size: 32px;
      }
      .section p {
        font-size: 18px;
      }
    }